@import "partial";

// Navbar
.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: $whiteHighlight;
  ul {
    @include ul-style;
    li {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      padding: 8px;
      color: $blackText;
    }
  }

  .decor {
    text-decoration: none;
    color: $blackText;
    &:hover {
      text-decoration: underline 3px solid $underOrange;
    }
  }

  .logo {
    display: inline-block;
    align-content: center;
    width: 200px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .buttonMenu {
    border-radius: 5px;
    padding: 5px !important;
    margin: 5px;
  }

  .menuTalent {
    border: 2px solid $greenPrimary;
    &:hover {
      text-decoration: none;
      color: $whiteText;
      background-color: $greenPrimary;
    }
  }

  .menuCompanies {
    border: 2px solid $underOrange;
    &:hover {
      text-decoration: none;
      background-color: $underOrange;
      color: $whiteText;
    }
  }
}
