$underOrange: #ec4a0a;
$greenPrimary: #009688;
$greenSecondary: #158578;
$yellowPrimary: #ffc726;
$yellowHover: #f79009;
$whiteText: #f2f4f7;
$whiteHighlight: #f9fafb;
$blackText: #2d3a41;
$blackTextBackground: rgba(0, 0, 0, 0.5);
$blueMedias: #007bb5;

$font-family: ("Nunito", sans-serif);
$font-weight: ("bold");

@mixin flex-style {
  display: flex;
  flex-direction: column;
}
@mixin flex-style_section {
  display: flex;
}

@mixin ul-style {
  margin: 0;
  padding: 10px 0;
  font-size: 1.5rem;
  list-style-type: none;
}

@mixin shared-style {
  margin: 0;
  padding: 0;
}

@mixin style-h2 {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

@mixin style-h3 {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
}

@mixin subtitle {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
}

@mixin style-button {
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #f9fafb;
  border-radius: 5px;
  padding: 10px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

@mixin div-button_section {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  button {
    width: 250px;
  }
}

@mixin sections-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

@mixin services-description {
  display: flex;
  flex-direction: column;
}

@mixin footer-alignment {
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 33%;
}

@mixin social-media {
  background: #55acee;
  color: white;
}

@mixin styleBtn {
  background: $yellowPrimary;
  color: $blackText;
  font: $font-weight;
  width: 250px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid $whiteHighlight;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin-left: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  &:hover {
    cursor: pointer;
    background: $yellowHover;
  }
}
