.wrapper {
  width: 1280px;
  margin: 0 auto;
}

/* Section CTA */
.container {
  width: 100%;
  height: 600px;
  padding-bottom: 20px;
  background-image: url(../images/codingmainpage-min.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.imgTitle {
  font: "Nunito", sans-serif;
  font-weight: "bold";
  font-size: 36px;
  color: #f9fafb;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
  text-align: center;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btnHire {
  background: #ffc726;
  color: #2d3a41;
  font: "bold";
  width: 40%;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #f9fafb;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin-left: 0;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.btnHire:hover {
  cursor: pointer;
  background: #f79009;
}

/* Blog Section */
.blogSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  width: 100%;
  margin: 20px auto 20px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogSection h2 {
  color: #009688;
  font: 32px;
  margin-bottom: 0.5rem;
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
  -webkit-animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);
          animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@-webkit-keyframes scale {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.blogSection p {
  color: #2d3a41;
  font: 18px;
}

.blogSection a {
  color: #158578;
  font: 12px;
  text-decoration: none;
}

.blogSection img {
  width: 240px;
  margin-left: 10px;
}

.blogText {
  margin-left: 5rem;
  width: 60%;
}

.resources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #ffc726;
}

.resources h2 {
  font-size: 30px;
  width: 100%;
  text-align: center;
  color: #2d3a41;
}

.businessServices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #009688;
}

.businessServices h2 {
  font-size: 30px;
  width: 100%;
  text-align: center;
  color: #f2f4f7;
}

.servCandidates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #2d3a41;
}

.servCandidates p {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
}

.servCandidates h3 {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
  color: #ec4a0a;
  font-weight: "bold";
}

.servBusiness {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f2f4f7;
}

.servBusiness p {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
}

.servBusiness h3 {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
  color: #ffc726;
  font-weight: "bold";
}

.sectionTitle {
  width: 100%;
  margin-bottom: 2rem;
}

.serviceBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Content - Buttons */
.sendResume,
.requestCall {
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btnResume {
  width: 14rem;
  font-weight: bold;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #f9fafb;
  border-radius: 5px;
  padding: 10px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  background: #009688;
  color: #f2f4f7;
}

.btnResume:hover {
  cursor: pointer;
  background: #158578;
}

.bookMeeting {
  width: 14rem;
  font-weight: bold;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #f9fafb;
  border-radius: 5px;
  padding: 10px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  background: #ffc726;
  color: #2d3a41;
}

.bookMeeting:hover {
  cursor: pointer;
  background: #f79009;
}
/*# sourceMappingURL=index.css.map */