@import "./CSS/partial";

/* Section CTA */
.container {
  width: 100%;
  height: 600px;
  background-image: url(../Assets/codingmainpage-min.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  .cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  .imgTitle {
    font: $font-family;
    font-weight: $font-weight;
    font-size: 36px;
    color: $whiteHighlight;
    background-color: $blackTextBackground;
    margin-bottom: 0.5rem;
    text-align: center;
    width: 60%;
  }

  .btnHire {
    @include styleBtn;
  }
}

/* Blog Section */
.blogSection {
  .wrapper {
    @include sections-style;
  }

  h2 {
    color: $greenPrimary;
    font: 32px;
    margin-bottom: 0.5rem;
    transform: scale(0.94);
    animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  p {
    color: $blackText;
    font: 18px;
  }
  a {
    color: $greenSecondary;
    font: 12px;
    text-decoration: none;
  }
  .blogText {
    width: 60%;
  }
  figure {
    width: 350px;
    height: auto;
    box-shadow: -10px 10px $greenPrimary;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: flex;
      margin: 0;
    }
  }
}

.resources {
  display: flex;
  .wrapper {
    @include sections-style;
    flex-direction: column;
    height: 550px;
    justify-content: center;
  }
  background-color: $yellowPrimary;
  h2 {
    @include style-h2;
    color: $blackText;
  }
}

.businessServices {
  display: flex;
  background-color: $greenPrimary;
  .wrapper {
    @include sections-style;
    flex-direction: column;
    height: 550px;
    justify-content: center;
  }
  .sectionTitle {
    width: 100%;
    margin-bottom: 2rem;
    h2 {
      @include style-h2;
      color: $whiteText;
    }
  }
}

.servCandidates {
  @include services-description;
  color: $blackText;
  p {
    @include subtitle;
  }
  h3 {
    @include style-h3;
    color: $underOrange;
    font-weight: $font-weight;
  }
}
.servBusiness {
  @include services-description;
  color: $whiteText;
  p {
    @include subtitle;
  }
  h3 {
    @include style-h3;
    color: $yellowPrimary;
    font-weight: $font-weight;
  }
}

.serviceBlock {
  @include flex-style_section;
  align-items: flex-start;
}

/* Content - Buttons */
.sendResume,
.requestCall {
  @include div-button_section;
  margin: 0;
}

.btnResume {
  @include style-button;
  background: $greenPrimary;
  color: $whiteText;
  &:hover {
    cursor: pointer;
    background: $greenSecondary;
  }
}

.bookMeeting {
  @include style-button;
  background: $yellowPrimary;
  color: $blackText;
  &:hover {
    cursor: pointer;
    background: $yellowHover;
  }
}

.titleService {
  display: flex;
  align-items: center;
  i:before {
    color: black;
    padding: 15px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }
}
