@import "./../CSS/partial";
@import "./nav.scss";
@import "./footer.scss";
@import "./CSS/parallax";

li {
  @include shared-style;
}

body {
  @include shared-style;
  background-color: map-get($colors, "whiteText");
  font-family: $font-family;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .mainHeader {
    height: auto;
    background-position: 50% 25%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
