@import "./shared.scss";
body {
  background-color: $whiteHighlight;
}

.container {
  background-image: url("/images/meeting.jpg");
  width: 100%;
  height: 500px;
  object-fit: contain;
  .talent-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .talent-title {
      width: 70%;
      font: $font-family;
      font-weight: $font-weight;
      font-size: 48px;
      color: $whiteHighlight;
      background-color: $underOrange;
      text-align: center;
    }
  }
  form {
    display: flex;
    justify-content: center;
  }
  .searchBar {
    width: 70%;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

    input {
      height: 43px;
      width: 90%;
      border: none;
    }
    button {
      height: 45px;
      width: 100px;
      border: none;
      font-family: $font-family;
      font-weight: bold;
      background-color: $yellowPrimary;
      cursor: pointer;
      &:hover {
        background-color: $yellowHover;
      }
    }
  }
}

/* Job Board */
.board {
  display: flex;
  flex-direction: column;
  height: 70vh;
  margin: 2% auto;
  justify-content: space-evenly;
}
.job-board {
  height: 85vh;
  h2 {
    font-size: 40px;
    color: $greenPrimary;
    font-weight: bold;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .next-page {
    display: inline-flex;
    margin-right: 0;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    a {
      font-weight: 300;
    }
    i {
      color: $greenPrimary;
      padding-left: 5px;
    }
  }

  .jb-post {
    width: 100%;
    height: 180px;
    display: flex;
    border: 1px solid rgb(193, 193, 193);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    align-items: center;
    margin-bottom: 10px;
    &:hover {
      transform: translateY(0) scale(1.1);
    }
    .job-information {
      width: 80%;
      padding: 20px;
      h3 {
        font-size: 20px;
        margin-bottom: 0;
        color: $blackText;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        &:first-of-type {
          font-style: italic;
          font-weight: 300;
          margin-top: 0;
        }
      }
    }
    button {
      @include apply-button;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    }
    @keyframes scale-up {
      0% {
        transform: scale(0.6);
        transform-origin: 100% 100%;
      }
      100% {
        transform: scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
      }
    }
  }
}
