/* Section CTA */
.container {
  width: 100%;
  height: 600px;
  background-image: url(../images/codingmainpage-min.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.container .imgTitle {
  font: "Nunito", sans-serif;
  font-weight: "bold";
  font-size: 36px;
  color: #f9fafb;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
  text-align: center;
  width: 60%;
}

.container .btnHire {
  background: #ffc726;
  color: #2d3a41;
  font: "bold";
  width: 250px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #f9fafb;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin-left: 0;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.container .btnHire:hover {
  cursor: pointer;
  background: #f79009;
}

/* Blog Section */
.blogSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.blogSection h2 {
  color: #009688;
  font: 32px;
  margin-bottom: 0.5rem;
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
  -webkit-animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);
          animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@-webkit-keyframes scale {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.blogSection p {
  color: #2d3a41;
  font: 18px;
}

.blogSection a {
  color: #158578;
  font: 12px;
  text-decoration: none;
}

.blogSection .blogText {
  width: 60%;
}

.blogSection figure {
  width: 350px;
  height: auto;
  -webkit-box-shadow: -10px 10px #009688;
          box-shadow: -10px 10px #009688;
}

.blogSection figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.resources {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffc726;
}

.resources .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 550px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resources h2 {
  font-size: 30px;
  width: 100%;
  text-align: center;
  color: #2d3a41;
}

.businessServices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #009688;
}

.businessServices .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 550px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.businessServices .sectionTitle {
  width: 100%;
  margin-bottom: 2rem;
}

.businessServices .sectionTitle h2 {
  font-size: 30px;
  width: 100%;
  text-align: center;
  color: #f2f4f7;
}

.servCandidates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #2d3a41;
}

.servCandidates p {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
}

.servCandidates h3 {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
  color: #ec4a0a;
  font-weight: "bold";
}

.servBusiness {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #f2f4f7;
}

.servBusiness p {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
}

.servBusiness h3 {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
  color: #ffc726;
  font-weight: "bold";
}

.serviceBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Content - Buttons */
.sendResume,
.requestCall {
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.sendResume button,
.requestCall button {
  width: 250px;
}

.btnResume {
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #f9fafb;
  border-radius: 5px;
  padding: 10px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  background: #009688;
  color: #f2f4f7;
}

.btnResume:hover {
  cursor: pointer;
  background: #158578;
}

.bookMeeting {
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #f9fafb;
  border-radius: 5px;
  padding: 10px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  background: #ffc726;
  color: #2d3a41;
}

.bookMeeting:hover {
  cursor: pointer;
  background: #f79009;
}

.titleService {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titleService i:before {
  color: black;
  padding: 15px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
/*# sourceMappingURL=mainpage.css.map */